

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #FFC340;
    min-height: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
header h1 {
    font-size: 36px;
    line-height: 54px;
    padding: 30px 0;
    padding-left: 15px;
}
header h1::before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 13px;
    left: -5px;
    background-color:#FF4E40;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
header a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 35px;
    padding: 15px 0 15px 35px;
}
header nav a::before{
    content: "";
    display: inline-block;
    position: relative;
    background-color:#FF4E40;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 5px;
}
header nav a#first::before {
    content: "\f199";
    font-family: FontAwesome;
    text-align: center;
}
header nav a#second::before {
    content: "\f113";
    font-family: FontAwesome;
    text-align: center;
}
header nav a#third::before {
    content: "\f095";
    font-family: FontAwesome;
    text-align: center;
}


/* sections part */
section {
    min-height: 464px;
    padding: 60px 80px;
}
/* about */
#about {
    background-color: #5dbcc9;
    background-image: url(assets/face.svg);
    background-position: 80% 50%;
    background-repeat: no-repeat;
    padding: 60px 160px;
}
#about  h2, #achievements h2, #code h2, #additional h2 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
}
#about  p, #achievements ul, #additional p {
    width: 600px;
    font-size: 29px;
    line-height: 35px;
}
/* achievements */
#achievements {
    background-color: #33CDC7;
    background-image: url(assets/list.svg);
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#achievements h2 {
    width: 630px;
}
#achievements ul {
    margin-left: 30px;
}
/* code */
#code {
    background-color: #73ABFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#code div {
    width: 50%;
}
#code .half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#code pre {
    width: 720px;
    padding: 15px;
    border: 3px dashed #FFC340;
}
#code code {
    font-family: 'Courier Prime', monospace;
    font-size: 19px;
    font-style: bold;
}
#code div p {
    font-size: 29px;
}

#code div button {
    width: 250px;
    height: 90px;
    background-color: #FF4E40;
    border-radius: 25px;
    font-size: 29px;
    color: #fff;
    border: none;
    outline: none;
    margin: 15px;
    cursor: pointer;
}
#code div button:hover {
    background-color: #BF5C54;
    color: rgb(209, 208, 208);
}
/* additional */
#additional {
    background-color: #408DFF;
    display: flex;
    flex-wrap: wrap;
}
#additional div {
    width: 50%;
}
#additional .cat {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#additional .blockquote {
    padding: 20px;
}
#additional .animal p {
    padding: 20px;
}
#additional .blockquote p {
    width: 550px;
    font-size: 29px;
    font-style: italic;
    text-align: right;
}

#travel {
    background-color: #73ABFF;
    font-size: 22px;
}
#travel h2 {
    display: block;
    width: 700px;
    margin-left: 465px;
}
#travel p {
    padding-top: 20px;
}
#travel div {
    margin-top: 20px;
}
#travel img {
    height: 300px;
    float: left;
    padding: 20px;

}
#travel img.active {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 2;
}
#travel .clear {
    clear: both;
}
/* footer */
footer {
    min-height: 100px;
    padding: 30px;
    background-color: #D9D9D9;
}
footer p {
    font-size: 29px;
    color: #000;
    /* padding: 50px 0 0; */
    text-align: center;
}
footer button {
    display: block;
    margin: 20px auto; 
    margin-bottom: 0;
    background-color: #FF4E40;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    outline: none;
}
footer button:hover {
    background-color: #fc6257;
    cursor: pointer;
}

.modal, .modal_img, .modal_ul {
    display: none;
    position: fixed;
    width: 50%;
    min-height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    padding: 80px 40px 30px;
    text-align: center;
    font-size: 20px;
    /* visibility: hidden; */
    z-index: 2;
}
.modal_img {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.modal_img.pop1 {
    background-image: url(assets/321.jpg);
}
.modal_img.pop2 {
    background-image: url(assets/b13c679f7__1500x0__q85.jpg);
}
.modal_img.pop3 {
    background-image: url(assets/main_0.jpg);
}
.modal.active, .modal_img.active, .modal_ul.active {
    display: block;
}
.modal h1 {
    font-size: 30px;
}
.modal p {
    margin-top: 15px;
}
.modal ul, .modal_ul ul {
    text-align: left;
    margin: 15px 0 0 30px;
    list-style: none;
    position: relative;
}
.modal ul li {
    margin-top: 10px;
}
.modal ul li:before{
    position: absolute;
    left: -15px;
    content: ' ';
    margin-top: 15px;
    height: 20px;
    width: 5px;
    background-color: #fc6257;
}

.modal ul p {
    display: inline-block;
}
.modal ul a {
    color: #000;
}
.modal ul a:hover {
    color: #fc6257;
}

.modal .close , .modal_img .close, .modal_ul .close{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    }
.modal .close:hover, .modal_img .close:hover, .modal_ul .close:hover {
    opacity: 1;
}
.modal .close:before, .modal .close:after, .modal_img .close:before, .modal_img .close:after, .modal_ul .close:before, .modal_ul .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    background-color: #fc6257;
}
.modal .close:before, .modal_img .close:before, .modal_ul .close:before {
    transform: rotate(45deg);
}
.modal .close:after, .modal_img .close:after, .modal_ul .close:after {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
